@import url("default.css");
@import url("draggable-node.css");

html,body { height: 100%; }
body {
	display: flex;
	flex-direction: column;
	position: relative;
}
#ctrl {
	display: flex;
	flex: 0 1 auto;
	justify-content: flex-end;
	padding: 1rem;
}
#container {
	
	--targets-background-color: transparent;
	
	background-color: var(--targets-background-color);
	flex: 1 0 auto;
	
}
#data {
	
	position: relative;
	
}
#data-ctrl {
	
	display: flex;
	justify-content: center;
	
}