@import url("default.css");
@import url("draggable-node.css");

html,body { height: 100%; }
body {
	display: flex;
	flex-direction: column;
	position: relative;
}
#ctrl {
	display: flex;
	flex: 0 1 auto;
	justify-content: flex-end;
	padding: 1rem;
}
#container {
	
	--targets-background-color: transparent;
	
	background-color: var(--targets-background-color);
	
}
#data {
	
	position: relative;
	
}
#data-ctrl {
	
	display: flex;
	justify-content: center;
	
}

.insert-area.top {
	border-top-width: 3px;
	border-radius: 0 0 .2rem .2rem;
}
.insert-area.bottom {
	border-bottom-width: 3px;
	border-radius: .2rem .2rem 0 0;
}
.insert-area.none {
	display: none;
}

#expert {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
	padding: 0 1rem;
}