@import url("default.css");
@import url("draggable-node.css");

#ctrl {
	align-items: center;
	border-bottom: 1px solid rgba(200,200,200,1);
	display: flex;
	flex: 0 1 auto;
	justify-content: center;
	margin: 0 1rem;
	padding: 1rem;
}
#container {
	
	--targets-background-color: transparent;
	
	background-color: var(--targets-background-color);
	
}
#data {
	
	padding: .5rem;
	position: relative;
	
}
#data-ctrl {
	
	display: flex;
	justify-content: center;
	
}

#expert {
	border-top: 1px solid rgba(200,200,200,1);
	margin: 1rem 1rem 0;
	padding-top: 1rem;
}
#expert > summary {
	color: rgba(200,200,200,1);
	font: normal normal normal bold 1rem/1 "Helvetica", "Arial", "メイリオ", sans-serif;
	text-align: right;
}
#expert:hover > summary {
	color: rgba(144,144,144,1);
	font: normal normal normal bold 1rem/1 "Helvetica", "Arial", "メイリオ", sans-serif;
	text-align: right;
}
#expert > summary + .content {
	display: flex;
	justify-content: flex-end;
	margin: 1rem 0 0;
}